# Node.js
node_modules/

# Build files
dist/
build/

# Dependency directory
lib/

# Visual Studio Code
.vscode/

# Logs and databases
*.log
*.sql
*.sqlite

# Prettier
prettier.config.js

# Editors
.history
